<h2>My Heroes</h2>

<button (click)="clicked()">Click me</button>
<button (click)="getHeroes()">Get Heroes</button>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">

    <span class="badge">{{hero.id}}</span>

    <ng-container *ngIf="hero.initial; else show_full_name">
      {{hero.name | slice:0:2}}
    </ng-container>
    <ng-template #show_full_name>
      {{hero.name}}
    </ng-template>

  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

