<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">

    <span class="badge">{{hero.id}}</span>

    <ng-container *ngIf="hero.initial; else show_full_name">
      {{hero.name | slice:0:2}}
    </ng-container>
    <ng-template #show_full_name>
      {{hero.name}}
    </ng-template>

  </li>
</ul>

<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
  <div>
    <label> use initial?
      <input [(ngModel)]="selectedHero.initial" type="checkbox"/>
    </label>
  </div>
</div>
